@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import "./reset.css";
@import "./status-bar.css";
@import "./variable.css";

body{
	font-family: 'Ubuntu', sans-serif;
}

.welcome-header{
	margin: 90px 0px;
	text-align: center;
	display: flex;
	/*	welcome-header 클래스는 item들을 세로로, 가운데 정렬할것이다.	*/
	flex-direction: column;
	align-items: center;
}

.welcome-header__title{
	font-size: 25px;
	display: flex;
	flex-direction: row;
	margin-bottom: 5%;

}

.welcome-header__title__ver{
	font-size: 10px;
	opacity: 0.7;
}

.welcome-header__text{
	/* 전체 박스의 50% 만큼만 사용하겠다.*/
	width: 60%;
	opacity: 0.7;
}

.login-form
{
	display: flex;
	flex-direction: column;
	margin: 0px 30px;
}

.login-form input
{
	padding:15px 0px;
	border: none;
	font-size: 18px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	margin-bottom: 25px;

	transition: border-color 0.2s ease-in-out ;
}

.login-form input::placeholder
{
	color:rgba(0, 0, 0, 0.4);
}

.login-form input:focus
{
	border-color:var(--kakao_yellow);
}
